include CHANGES.rst LICENSE README.rst conftest.py
recursive-include postgresql_audit/templates *.sql
recursive-exclude postgresql_audit *.pyc
recursive-include tests *
recursive-exclude tests *.pyc
recursive-include docs *
recursive-exclude docs *.pyc
prune docs/_build
exclude docs/_themes/.git
